In [13]:
df = pd.read_csv('./db/Airbnb_Open_Data.csv', encoding='ISO-8859-1')

C:\Users\ASUS\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
# Notar que la columna sevice free tiene símbolos
df = df.tail(2)

# Restablecer el índice para agregar una columna con los IDs
df = df.reset_index(drop=False)

# Convertir el DataFrame a una cadena JSON
json_data = df.to_json(orient='records', indent=2)

# Imprimir el JSON para copiar y pegar
print(json_data)

[
  {
    "index":102597,
    "id":6094094,
    "NAME":"Big Studio-One Stop from Midtown",
    "host id":11160591270,
    "host_identity_verified":"unconfirmed",
    "host name":"Christopher",
    "neighbourhood group":"Queens",
    "neighbourhood":"Long Island City",
    "lat":40.74989,
    "long":-73.93777,
    "country":"United States",
    "country code":"US",
    "instant_bookable":true,
    "cancellation_policy":"strict",
    "room type":"Entire home\/apt",
    "Construction year":2015.0,
    "price":"$546 ",
    "service fee":"$109 ",
    "minimum nights":2.0,
    "number of reviews":5.0,
    "last review":"10\/11\/2015",
    "reviews per month":0.1,
    "review rate number":3.0,
    "calculated host listings count":1.0,
    "availability 365":386.0,
    "house_rules":null,
    "license":null
  },
  {
    "index":102598,
    "id":6094647,
    "NAME":"585 sf Luxury Studio",
    "host id":68170633372,
    "host_identity_verified":"unconfirmed",
    "host name":"Rebecca",
    "neighbourhood group":"Manhattan",
    "neighbourhood":"Upper West Side",
    "lat":40.76807,
    "long":-73.98342,
    "country":"United States",
    "country code":"US",
    "instant_bookable":false,
    "cancellation_policy":"flexible",
    "room type":"Entire home\/apt",
    "Construction year":2010.0,
    "price":"$1,032 ",
    "service fee":"$206 ",
    "minimum nights":1.0,
    "number of reviews":0.0,
    "last review":null,
    "reviews per month":null,
    "review rate number":3.0,
    "calculated host listings count":1.0,
    "availability 365":69.0,
    "house_rules":null,
    "license":null
  }
]

In [1]:
# Instalar las bibliotecas necesarias (descomentar si es necesario)
# !pip install pyodbc
# !pip install SQLAlchemy
# %pip install pyodbc
# %pip show pyodbc
# %pip install SQLAlchemy
# Importar las librerías necesarias
import pyodbc
from sqlalchemy import create_engine
import pandas as pd

# Configurar la conexión con SQL Server usando autenticación SQL Server
server = 'LAPTOP-NK1EERFF'  # Tu servidor SQL Server
database = 'tienda'       # Nombre de la base de datos
username = 'root'            # Usuario SQL Server que configuraste
password = 'root'            # Contraseña de tu usuario SQL
driver = 'ODBC Driver 17 for SQL Server'

# Crear la cadena de conexión SQLAlchemy para SQL Server
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)

# Probar la conexión a SQL Server
try:
    with engine.connect() as conn:
        print("Conexión exitosa a SQL Server!")
except Exception as e:
    print("Error al conectar a SQL Server:", e)

# Paso 4: Consultar la base de datos y leer datos en un DataFrame

Conexión exitosa a SQL Server!

In [2]:
# Obtener y mostrar las tablas existentes en la base de datos
from sqlalchemy import inspect

# Crear un inspector que permite explorar la base de datos
inspector = inspect(engine)

# Obtener los nombres de las tablas
tables = inspector.get_table_names()

# Mostrar las tablas
print("Tablas en la base de datos:")
for table in tables:
    print(table)

Tablas en la base de datos:
categoria
cliente
detalleVenta
empleado
fidelizacion
horario
membresia
movimientoInventario
producto
puesto
rol
sucursal
sysdiagrams
tipoMovimiento
usuario
venta

In [3]:
# Ver las relaciones entre las tablas
for table in tables:
    # Obtener las claves foráneas de cada tabla
    foreign_keys = inspector.get_foreign_keys(table)
    
    # Imprimir la tabla y sus relaciones
    if foreign_keys:
        print(f"\nTabla: {table}")
        for fk in foreign_keys:
            print(f"  - Relación: {fk['constrained_columns']} -> {fk['referred_table']} ({fk['referred_columns']})")
    else:
        print(f"\nTabla: {table} no tiene claves foráneas.")

Tabla: categoria no tiene claves foráneas.

Tabla: cliente no tiene claves foráneas.

Tabla: detalleVenta
  - Relación: ['productoId'] -> producto (['id'])
  - Relación: ['ventaId'] -> venta (['id'])

Tabla: empleado
  - Relación: ['horarioId'] -> horario (['id'])
  - Relación: ['puestoId'] -> puesto (['id'])

Tabla: fidelizacion
  - Relación: ['clienteId'] -> cliente (['id'])
  - Relación: ['membresiaId'] -> membresia (['id'])

Tabla: horario no tiene claves foráneas.

Tabla: membresia no tiene claves foráneas.

Tabla: movimientoInventario
  - Relación: ['empleadoId'] -> empleado (['id'])
  - Relación: ['productoId'] -> producto (['id'])
  - Relación: ['tipomovimientoid'] -> tipoMovimiento (['id'])

Tabla: producto
  - Relación: ['categoriaId'] -> categoria (['id'])

Tabla: puesto no tiene claves foráneas.

Tabla: rol no tiene claves foráneas.

Tabla: sucursal no tiene claves foráneas.

Tabla: sysdiagrams no tiene claves foráneas.

Tabla: tipoMovimiento no tiene claves foráneas.

Tabla: usuario
  - Relación: ['empleadoId'] -> empleado (['id'])
  - Relación: ['rolId'] -> rol (['id'])
  - Relación: ['sucursalId'] -> sucursal (['id'])

Tabla: venta
  - Relación: ['clienteId'] -> cliente (['id'])
  - Relación: ['empleadoId'] -> empleado (['id'])

In [4]:
# Ver las columnas de cada tabla en la base de datos
for table in tables:
    print(f"\nTabla: {table}")
    columns = inspector.get_columns(table)
    for column in columns:
        # Imprimir nombre de la columna y su tipo de datos
        print(f"  - Columna: {column['name']}, Tipo de dato: {column['type']}")

Tabla: categoria
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"

Tabla: cliente
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: apellido, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: email, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: telefono, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"

Tabla: detalleVenta
  - Columna: id, Tipo de dato: INTEGER
  - Columna: cantidad, Tipo de dato: INTEGER
  - Columna: productoId, Tipo de dato: INTEGER
  - Columna: ventaId, Tipo de dato: INTEGER

Tabla: empleado
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: apellido, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: horarioId, Tipo de dato: INTEGER
  - Columna: puestoId, Tipo de dato: INTEGER

Tabla: fidelizacion
  - Columna: id, Tipo de dato: INTEGER
  - Columna: puntos, Tipo de dato: INTEGER
  - Columna: clienteId, Tipo de dato: INTEGER
  - Columna: membresiaId, Tipo de dato: INTEGER

Tabla: horario
  - Columna: id, Tipo de dato: INTEGER
  - Columna: horaInicio, Tipo de dato: TIME
  - Columna: horaFin, Tipo de dato: TIME
  - Columna: diaSemana, Tipo de dato: INTEGER

Tabla: membresia
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"

Tabla: movimientoInventario
  - Columna: id, Tipo de dato: INTEGER
  - Columna: productoId, Tipo de dato: INTEGER
  - Columna: cantidad, Tipo de dato: INTEGER
  - Columna: empleadoId, Tipo de dato: INTEGER
  - Columna: tipomovimientoid, Tipo de dato: INTEGER
  - Columna: fecha, Tipo de dato: DATE

Tabla: producto
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: descripcion, Tipo de dato: NVARCHAR(100) COLLATE "Modern_Spanish_CI_AS"
  - Columna: precio, Tipo de dato: INTEGER
  - Columna: categoriaId, Tipo de dato: INTEGER

Tabla: puesto
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"

Tabla: rol
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"

Tabla: sucursal
  - Columna: id, Tipo de dato: INTEGER
  - Columna: region, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: direccion, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: telefono, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: ciudad, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"

Tabla: sysdiagrams
  - Columna: name, Tipo de dato: NVARCHAR(128) COLLATE "Modern_Spanish_CI_AS"
  - Columna: principal_id, Tipo de dato: INTEGER
  - Columna: diagram_id, Tipo de dato: INTEGER
  - Columna: version, Tipo de dato: INTEGER
  - Columna: definition, Tipo de dato: VARBINARY

Tabla: tipoMovimiento
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"

Tabla: usuario
  - Columna: id, Tipo de dato: INTEGER
  - Columna: nombre, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: contrasena, Tipo de dato: NVARCHAR(45) COLLATE "Modern_Spanish_CI_AS"
  - Columna: empleadoId, Tipo de dato: INTEGER
  - Columna: rolId, Tipo de dato: INTEGER
  - Columna: sucursalId, Tipo de dato: INTEGER

Tabla: venta
  - Columna: id, Tipo de dato: INTEGER
  - Columna: fecha, Tipo de dato: DATETIME
  - Columna: clienteId, Tipo de dato: INTEGER
  - Columna: empleadoId, Tipo de dato: INTEGER